/*
    Kniraven Theme
    Author:   Nickolas Patino
    Created: 04/05/2022
    Updated: 04/05/2022

    #60156c
*/

body {background: black url("#") no-repeat fixed bottom center;}
/* https://kniraven.com/images/Kniraven1920x1080.png */
.knilight{color: #9b72b0;}
a {color:magenta;text-decoration:none;}
a:hover{color:violet;}

.container{color: white;}
.table{color: white;}
.accordion-button:not(.collapsed){color:white;background-color:black;}
.accordion-button{color:white;background-color: black;}

html {
  scroll-padding-top: 2.5rem;
}
nav {
  position: sticky;
  border-bottom: black solid 3px;
}
footer {
    position: sticky;
    border-top: black solid 3px;
}

img.mediatab:hover {opacity: 0.5;}

.equal-height-sections > [class^='col-'] {
    display: flex;
    flex-direction: column;
  }
  
.equal-height-sections > [class^='col-'] > .p-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* This makes the .p-2 elements fill the space */
}

.navbar-kniraven .navbar-brand {
    color: #fff;
  }
  .navbar-kniraven .navbar-brand:hover, .navbar-kniraven .navbar-brand:focus {
    color: #fff;
  }
  .navbar-kniraven .navbar-nav .nav-link {
    color: #fff;
  }
  .navbar-kniraven .navbar-nav .nav-link:hover, .navbar-kniraven .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }
  .navbar-kniraven .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
  }
  .navbar-kniraven .navbar-nav .show > .nav-link,
  .navbar-kniraven .navbar-nav .nav-link.active {
    color: #fff;
  }
  .navbar-kniraven .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
  }
  .navbar-kniraven .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-kniraven .navbar-text {
    color: rgba(255, 255, 255, 0.55);
  }
  .navbar-kniraven .navbar-text a,
  .navbar-kniraven .navbar-text a:hover,
  .navbar-kniraven .navbar-text a:focus {
    color: #fff;
  }